.player-main-card {
  margin-top: 150px;
  overflow-y: scroll;
  max-width: 800px;
}

div.player-main-card {
  padding: 10px 16px;
}

@media (min-width: 820px) {
  .player-main-card {
    margin: 10px auto;
  }
}
